name: CI
on:
  push:
    branches: [main, develop]
    paths: ["src/**", "tests/**", ".github/workflows/ci.yml"]
  pull_request:
    branches: [main, develop]
    paths: ["src/**", "tests/**", ".github/workflows/ci.yml"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rye
        run: |
          curl -sSf https://rye.astral.sh/get | RYE_INSTALL_OPTION="--yes" bash
          echo "$HOME/.rye/shims" >> $GITHUB_PATH

      - name: Setup Python ${{matrix.python-version}} & Dependencies
        run: |
          rye pin ${{ matrix.python-version }}
          rye sync --update-all --all-features

      - name: Install external tool dependencies
        run: |
          sudo apt update -y
          sudo apt install -y ncbi-blast+ mmseqs2 mummer progressivemauve last-align
        if: ${{ matrix.os=='ubuntu-latest' }}

      - name: Run ruff lint check
        run: rye run ruff check --diff

      - name: Run ruff format check
        run: rye run ruff format --check --diff

      - name: Run pytest
        run: rye run pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=src | tee pytest-coverage.txt

      - name: Pytest Coverage Comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: pytest-coverage.txt
          junitxml-path: pytest.xml
        if: ${{ matrix.os=='ubuntu-latest' && matrix.python-version=='3.12' && !env.ACT }}
